.ui-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1px;
    outline: none;
    border: none;
    
    padding: 4px 8px;
    border-radius: 3px;

    font-size: 9px;
    font-weight: 700;
    background-color: #EBEAF2;
    color: #4C5673;

    transition: background-color 0.01s ease-in;

    &.ui-tag--active {
        cursor: pointer;
        
        &:hover {
            background-color: #4C5673;
            color: #EBEAF2;
        }
        &:active {
            background-color: #1f2e5d;
        }
    }
}