@use '../../../styles/breakpoints' as *;
@use '../../../styles/tokens' as *;

.public-layout {
    min-height: 100dvh;
    background:
        radial-gradient(
            circle at top left,
            $color-primary-glow-bg,
            transparent 32%
        ),
        $gradient-app-bg;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;

    &__content {
        width: min(1180px, calc(100% - 40px));
        margin: 0 auto;
        flex: 1;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        padding: 42px 0 96px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .public-layout {
        &__content {
            width: min(100% - 28px, 1180px);
            padding-top: 30px;
            padding-bottom: 72px;
        }
    }
}
