$accent-color: #1f5fbf;

.ui-link {
    text-decoration: none;
    color: $accent-color;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    font-weight: 700;

    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        color: #1e5bb6;
        text-decoration: underline;
    }
}
.ui-link.ui-link--disabled {
    color: #575d58;
    text-decoration: none;
    cursor: not-allowed;
    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}
